.allLogin {
    /* background-color: var(--gris2); */
    height: 88vh;
    width: 100vw;
    background-image: url(https://i.imgur.com/ZgpHM5R.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    z-index: 2;
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedorFormulario {
    padding: 3rem 3rem;
    max-width: 470 px;
    background-color: var(--blanco);
    border-radius: 1rem;
    box-shadow: 0px 6px 11px -8px rgb(0 0 0 / 90%);
}

.contenedorBotones {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.checkbox {
    display: flex;
    justify-content: center;
    align-content: center;
}

.linkRegister {
    display: flex;
    justify-content: end;
    margin-top: 8px;
}