.allLogin {
    /* background-color: var(--gris2); */
    height: 88vh;
    width: 100vw;
    background-image: url(https://i.imgur.com/ZgpHM5R.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    z-index: 2;
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedorFormulario {
    padding: 3rem 3rem;
    max-height: 575px;
    background-color: var(--blanco);
    border-radius: 1rem;
    box-shadow: 0px 6px 11px -8px rgb(0 0 0 / 90%);
}

.contenedorBotones {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.checkbox {
    display: flex;
    justify-content: center;
    align-content: center;
}

.linkRegister {
    display: flex;
    justify-content: end;
    margin-top: 8px;
}

.inputDuo {
    display: grid;
    grid-template-columns: 20vw 20vw;
    grid-template-rows: 25vh;
}

.formGroup {
    margin-left: 5px;
    margin-right: 5px;
}

.formControled {
    display: block;
    width: 100%;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #55595c;
    background-color: #f7f7f9;
    background-clip: padding-box;
    border: 0.1cm #8080801c solid;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}