.all {
    display: flex;
    align-items: center;
    /* margin-left: 10px; */
    margin-right: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.card {
  width: 500px;
}

.card-body {
  height: 160px;
}

.containerImg {
  position: absolute;
  justify-content: center;
  width: 205px !important;
}
  
  .image {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    opacity: 1;
    display: block;
    width: 205px !important;
    height: 162px !important;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }
  
  .containerImg:hover .image {
    opacity: 0.3;
  }
  
  .containerImg:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }