.select-Search {
    outline: none;
    border:none;
    border-left: 0.5px rgba(185, 185, 185, 0.616) solid;
    width: 40px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
}

.input-search {
    background-color: rgb(226, 226, 226);
}

.barraSearch {
    height: 50vh;   
    background-image: url(https://i.imgur.com/ZgpHM5R.jpg);
    background-size: 100% ;
    background-repeat:no-repeat;
    object-fit: cover;
    z-index: 2;
    margin-bottom: 15px;
    background-position: bottom;
    display:flex;
    align-items: center;
    justify-content: center;
}

.conenidoTitleBarra {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 130vh;
    height: 30vh;
    background-color: rgba(255, 255, 255, 0.719);
    border-radius: 3px;
}


