.titleAndSub {
    margin-left: 45px;
    margin-top: 15px;
    margin-right: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.iniciaSesion {
    display: flex;
    justify-content: center;
    margin-top: 24vh;
    margin-bottom: 24vh;
}