.content-filterpanel{
    padding: 2em; 
    background-color: rgb(243, 243, 243);
    margin-top: 15px;
    margin-bottom: 15px;
}

.title-filterpanel{
    margin: 0.5em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

}

label{
    margin-left: 5px;
}

.servicios{
    display: flex;
    flex-direction: column;
}
